body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, rgba(126, 167, 208, 0.55) 10%, rgba(129, 139, 225, 0.46) 100%);
    color: #fff;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
}

h1 {
    margin-bottom: 20px;
}
/* Navbar styles */
.navbar {
    height: 4rem;
    background: linear-gradient(90deg, #5589d9 10%, #1160f7 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: 2px 2px 13px -1px rgba(0,0,0,0.30);
    -moz-box-shadow: 2px 2px 13px -1px rgba(0,0,0,0.30);
    box-shadow: 2px 2px 13px -1px rgba(0,0,0,0.30);

}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.47);
}

.active { text-shadow: 0 0 5px rgba(255, 255, 255, 0.47); }

.logo {
    font-size: 18px;
    font-weight: bolder;
    margin-right: 5rem;
}
input[type="file"] {
    border: 0;
    padding: 15px;
    margin-bottom: 10px;
    width: 220px;
    border-radius: 7px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #555;
}

button {
    background-color: #fff;
    color: #2c60fd;
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 10px 25px;
    width: 10rem;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    margin-top: 10px;
}

button:hover {
    background-color: #2c60fd;
    color: #fff;
    border: 1px solid #fff;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 7px;
    background-color: #fff;
    color: #2c60fd;
    margin-bottom: 10px;
}

.custom-file-upload:hover {
    background-color: #2c60fd;
    color: #fff;
    border: 1px solid #2c60fd;
}

#fileInput {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

label {
    cursor: pointer;
}

.md-shadow {
    -webkit-box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.15);
}

.hash-card {
    background-color: white;
    border-radius: 4px;
    color: #222;
    padding: 20px;
    font-size: 17px;
    margin-bottom: 1rem;
}
.hash-card:hover {
-webkit-box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.22);
    box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.22);
    transition: all 0.1s;
}
.color-black {
    color: #2b2b2b;;
}
