table {
    width: 85%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;
    margin: 20px auto;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    overflow: hidden;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

/* Specific width for the download and type columns */
th:nth-child(3), td:nth-child(3),
th:last-child, td:last-child {
    width: 1%; /* Minimize width */
    white-space: nowrap; /* Prevent text from wrapping */
}

th:nth-child(3), td:nth-child(3) {
    text-align: center; /* Center the text for Type column */
}

th:last-child, td:last-child {
    text-align: center; /* Center the text for Download column */
}

/* Allow the hash column to take up the remaining space */
th:nth-child(4), td:nth-child(4) {
    width: auto; /* Auto width for Hash column */
}

/* Rounded corners for table header and last row */
th:first-child {
    border-top-left-radius: 18px;
}

th:last-child {
    border-top-right-radius: 18px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 18px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 18px;
}

/* Header and row styles */
th {
    background-color: #ebefff;
    color: #333;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}